* {
  line-height: 1;
}

body {
  font-family: sans-serif;
}

div[v-cloak] { display: none }

ul,
li li {
  display: inline-block;
  vertical-align: middle;
}

li,
li ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.note {
  border-bottom: 1px solid #a0a0a0;
}

.sharp {
  background: #fafafa;
}

.title {
  margin-right: 20px;
  width: 30px;
}

.step label {
  display: inline-block;
  padding: 10px;
}

.step:nth-of-type(4n+1) label {
  border-right: 1px solid #a0a0a0;
}

.step label:hover {
  background: #f0f0f0;
}

.step-1 .step:nth-of-type(2) label,
.step-2 .step:nth-of-type(3) label,
.step-3 .step:nth-of-type(4) label,
.step-4 .step:nth-of-type(5) label,
.step-5 .step:nth-of-type(6) label,
.step-6 .step:nth-of-type(7) label,
.step-7 .step:nth-of-type(8) label,
.step-8 .step:nth-of-type(9) label,
.step-9 .step:nth-of-type(10) label,
.step-10 .step:nth-of-type(11) label,
.step-11 .step:nth-of-type(12) label,
.step-12 .step:nth-of-type(13) label,
.step-13 .step:nth-of-type(14) label,
.step-14 .step:nth-of-type(15) label,
.step-15 .step:nth-of-type(16) label,
.step-16 .step:nth-of-type(17) label {
  background: #f0f0f0;
}
